<h2>People</h2>
<table cellspacing="0" cellpadding="0" class="people">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person[:name] %></td>
        <td><%= person[:email] %></td>
        <td><%= person[:telephone] %></td>
        <td><%= person[:address] %></td>
      </tr>
    <% end %>
  </tbody>
</table>